<ui-plugin path="search">
    <ui-component name="input" path="?.value" class="m" config="required:1;minlength:6;error:Minimum 6 characters !;ricon:search"></ui-component>
    <div class="row">
        <ui-bind path="?.value.list" config="show:value">{{ window.search.list }}</ui-bind>
    </div>
</ui-plugin>
<div class="row" id="dataUsers"></div>
<script>
    PLUGIN('search', function (exports) {
        // AJAX('GET https://jsonplaceholder.typicode.com/posts', '?.list');
        /* CALL Function exec:/search/submit */

        exports.submit = () => {
            alert('Hello test submit!');
        };

        WATCH('?.value', function (key, value) {
            AJAX('GET https://jsonplaceholder.typicode.com/posts', (data) => {
                    for(var i; i < data.length; i++){
                        let list = data[i];
                        console.log(list);
                        $('#dataUsers').append('<div class="col-md-3">' + list.title + '</div>')
                    }
            });
           
            // $('#dataUsers').html(`<pre style='padding: 0 20px; height: 75vh'>` + JSON.stringify(search.list, null, 4) + `</pre>`);
        });
    })

</script>