<ui-plugin path="search">
    <ui-component name="input" path="?.value" class="m"
        config="required:1;minlength:6;error:Minimum 6 characters !;ricon:search"></ui-component>
    <div class="row">
        <ui-bind path="?.list" config="template">
            <script type="text/html" >
                {{ foreach m in value }}
                   <div class="col-md-3">{{ m.title }}</div>
                {{ end }}
           </script>
        </ui-bind>
    </div>
</ui-plugin>

<script>
    PLUGIN('search', function (exports) {
        exports.submit = () => {
            alert('Hello test submit!');
        };

        WATCH('?.value', function (key, value) {
            console.log(key, value);
            AJAX('GET https://jsonplaceholder.typicode.com/posts', '?.list');
        });
    })
</script>